
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
					 Poll05s
					</h3>
				</div>
	<div class="panel-body" id="tablesize" >
			
		<table class="table table-responsive">
				<div ng-init="poll05s();"></div>
				<thead>
					<tr>
						<th>id</th>
						<th>eod_upload_id</th>
						<th>transaction_type</th>
						<th>transaction_item_type</th>
						<th>transaction_date</th>
						<th>transaction_time</th>
						<th>cashier_id</th>
						<th>register_number</th>
						<th>transaction_number</th>
						<th>item_sequence_number</th>
						<th>sku</th>
						<th>item_quantity</th>
						<th>item_original_price</th>
						<th>promotional_sale_code</th>
						<th>promotional_sale_price</th>
						<th>item_override_price</th>
						<th>discount_type</th>
						<th>discount_amount</th>
						<th>item_selling_price</th>
						<th>item_extended_selling_price</th>
						<th>tax1_indicator</th>
						<th>tax2_indicator</th>
						<th>reference_type</th>
						<th>misc_information</th>
						<th>item_universal_product_code</th>
						<th>clerk</th>
						<th>customer_name</th>
						<th>customer_number</th>
						<th>item_return_reason_code</th>
						<th>original_salesperson</th>
						<th>original_store</th>
						<th>subtotal_discount_amount</th>
						<th>item_discount_reason_code</th>
						<th>transaction_discount_reason_code</th>
						<th>non_keyboard_input_device_indicator</th>
						<th>taxing_authority_code</th>
						<th>taxing_rate_code</th>
					</tr>
				</thead>
				<tbody>
						<tr ng-repeat ="value in poll05s" class = "tables">
							<td>{{value.id}}</td>
							<td>{{value.eod_upload_id}}</td>
							<td>{{value.transaction_type}}</td>
							<td>{{value.transaction_item_type}}</td>
							<td>{{value.transaction_date}}</td>
							<td>{{value.transaction_time}}</td>
							<td>{{value.cashier_id}}</td>
							<td>{{value.register_number}}</td>
							<td>{{value.transaction_number}}</td>
							<td>{{value.item_sequence_number}}</td>
							<td>{{value.sku}}</td>
							<td>{{value.item_quantity}}</td>
							<td>{{value.item_original_price}}</td>
							<td>{{value.promotional_sale_code}}</td>
							<td>{{value.promotional_sale_price}}</td>
							<td>{{value.item_override_price}}</td>
							<td>{{value.discount_type}}</td>
							<td>{{value.discount_amount}}</td>
							<td>{{value.item_selling_price}}</td>
							<td>{{value.item_extended_selling_price}}</td>
							<td>{{value.tax1_indicator}}</td>
							<td>{{value.tax2_indicator}}</td>
							<td>{{value.reference_type}}</td>
							<td>{{value.misc_information}}</td>
							<td>{{value.item_universal_product_code}}</td>
							<td>{{value.clerk}}</td>
							<td>{{value.customer_name}}</td>
							<td>{{value.customer_number}}</td>
							<td>{{value.item_return_reason_code}}</td>
							<td>{{value.original_salesperson}}</td>
							<td>{{value.original_store}}</td>
							<td>{{value.subtotal_discount_amount}}</td>
							<td>{{value.item_discount_reason_code}}</td>
							<td>{{value.transaction_discount_reason_code}}</td>
							<td>{{value.non-keyboard_input_device_indicator}}</td>
							<td>{{value.taxing_authority_code}}</td>
							<td>{{value.taxing_rate_code}}</td>
						</tr>

				</tbody>
				</table>
			</div>
				<div class="panel-footer">
				</div>
			</div>


