
<div class="panel panel-primary panelmargin">
	<div class="panel-heading">
		<h3 class="panel-title">
					Stores
		</h3>
	</div>
		<div class="panel-body">
				<table class="table table-responsive">
					<div ng-init="stores();">
						<thead>
						<tr>
						
						<th>Location</th>
						<th>Brand</th>
						<th>JDA</th>
						<th>JDA Path</th>
						<th>Code</th>
						<th>IP</th>
						<th>Opening Time</th>
						<th>Closing Time</th>
						<th>Assigned To</th>
						<th>Active</th>
						<th>Action</th>
						</tr>
						</thead>
				<tbody>
					<tr ng-repeat ="value in stores" ng-init="getBrands(value)" > 
						
						<td>{{value.locationname}}</td>
						<td>{{value.brandname}}</td>
						<td>{{value.jdas}}</td>
						<td>{{value.jda_path}}</td>
						<td>{{value.code}}</td>
						<td>{{value.ip}}</td>
						<td>{{value.opening_time}}</td>
						<td>{{value.closing_time}}</td>
						<td>{{value.assigned_to}}</td>
						<td>{{value.active}}</td>
						<td class="text-center" >
							<a ng-click="EditStores(value.id)" class="btn btn-xs btn-default" data-toggle="modal" data-target="#EditStore"><span class="glyphicon glyphicon-pencil"
							></span> Edit</a>
							<span ng-if="value.active == 0">
							<a ng-click="Activate(value.id)" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span> Activate</a></span> <span ng-if="value.active == 1">
							<a ng-click="Deactivate(value.id)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove-sign"></span> Deactivate</a></span>
						</td>
					</tr>	
				</tbody>
					</div>			
				</table>

				</div>
				
				<div class="panel-footer">
					<button class="btn btn-primary" data-toggle="modal" data-target="#AddStore" ng-click="AddEditStore()"><span class=""></span> Add Store</button>
				</div>
			    </div>
<!-- ADD Modal -->
          <div class="modal fade in" id="AddStore" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ></button>
							<h4 class="modal-title" id="myModalLabel">
								Add Store
							</h4>
						</div>
						<div class="modal-body" ng-init="AddStore()">
							<form>
							   
							    <br>
							    Location::<select class="form-control" ng-model="Storevalue.id">
							    		  <option value=" "></option>
							    		  <option ng-repeat="Storevalue in StoreSelect" value="{{Storevalue.id}}">{{Storevalue.name}}</option>
							         	  </select>
							    <br>
							    Brand: <select class="form-control" ng-model="Brandvalue.id" >
							    		<option value=" "></option>
							    		<option ng-repeat="Brandvalue in BrandSelect" value="{{Brandvalue.id}}">{{Brandvalue.name}}</option>
							           </select>
							    <br>
							    JDA:<select class="form-control" ng-model="Jdavalue.id">
							    		<option value=" "></option>
							    		<option ng-repeat="Jdavalue in JdaSelect" value="{{Jdavalue.id}}">{{Jdavalue.ip}}</option>
							         </select>
							     <br>
							    JDA Path:<input type="text" class="form-control" ng-model="JdaPath">
							    <br>
							    Code:<input type="text" class="form-control" ng-model="Code">
							     <br>
							    IP:<input type="text" class="form-control" ng-model="IP">
							     <br>
							    Opening Time:<input type="text" class="form-control" ng-model="Opening">
							     <br>
							    Closing Time:<input type="text" class="form-control" ng-model="Closing">
							     <br>
							    Assigned To:<input type="text" class="form-control" ng-model="Assigned">
							     <br>

							</form>
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
							 <button type="button" class="btn btn-primary" ng-click="SaveStore(Storevalue.id,Brandvalue.id,Jdavalue.id)" data-dismiss="modal">Save changes</button>
						</div>
					</div>
					
				</div>
				
			</div>	

<!-- Edit modal -->
			<div class="modal fade in" id="EditStore" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ></button>
							<h4 class="modal-title" id="myModalLabel">
								Edit Store
							</h4>
						</div>
						<div class="modal-body" ng-init="AddStore()">
							<form>
							   
							    <br>
							    Location::<select class="form-control" ng-model="Storevalue.id">
							    		  <option value=" "></option>
							    		  <option ng-repeat="Storevalue in StoreSelect" value="{{Storevalue.id}}">{{Storevalue.name}}</option>
							         	  </select>
							    <br>
							    Brand: <select class="form-control" ng-model="Brandvalue.id" >
							    		<option value=" "></option>
							    		<option ng-repeat="Brandvalue in BrandSelect" value="{{Brandvalue.id}}">{{Brandvalue.name}}</option>
							           </select>
							    <br>
							    JDA:<select class="form-control" ng-model="Jdavalue.id">
							    		<option value=" "></option>
							    		<option ng-repeat="Jdavalue in JdaSelect" value="{{Jdavalue.id}}">{{Jdavalue.ip}}</option>
							         </select>
							     <br>
							    JDA Path:<input type="text" class="form-control" ng-model="JdaPath">
							    <br>
							    Code:<input type="text" class="form-control" ng-model="Code">
							     <br>
							    IP:<input type="text" class="form-control" ng-model="IP">
							     <br>
							    Opening Time:<input type="text" class="form-control" ng-model="Opening">
							     <br>
							    Closing Time:<input type="text" class="form-control" ng-model="Closing">
							     <br>
							    Assigned To:<input type="text" class="form-control" ng-model="Assigned">
							     <br>

							</form>
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
							 <button type="button" class="btn btn-primary" ng-click="SaveStore(Storevalue.id,Brandvalue.id,Jdavalue.id)" data-dismiss="modal">Save changes</button>
						</div>
					</div>
					
				</div>
				
			</div>	
