
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
				EOD UPLOAD
		</h3>
	</div>
		<div class="panel-body" id="tablesize">
				<table class="table table-responsive">
					<div ng-init="eod_uploads();">
						<thead>
						<tr>
						<th>ID</th>
						<th>store_id</th>
						<th>Poll_path</th>
						<th>Poll_checksum</th>
						<th>Status</th>
						<th>Attempts</th>
						<th>Sales_date</th>
						<th>Created_at</th>
						<th>Updated_at</th>
						<th>Created_by</th>
						<th>Updated_by</th>
						</tr>
						</thead>
				<tbody>
					<tr ng-repeat ="value in eod_uploads"> 
						<td>{{value.id}}</td>
						<td>{{value.store_id}}</td>
						<td>{{value.poll_path}}</td>
						<td>{{value.poll_checksum}}</td>
						<td>{{value.status}}</td>
						<td>{{value.attempts}}</td>
						<td>{{value.sales_date}}</td>
						<td>{{value.created_at}}</td>
						<td>{{value.updated_at}}</td>
						<td>{{value.created_by}}</td>
						<td>{{value.updated_by}}</td>
					</tr>	
				</tbody>
					</div>			
				</table>

				</div>
				
				<div class="panel-footer">
				</div>
			</div>
