

<div class="panel panel-primary panelmargin">
	<div class="panel-heading">
		<h3 class="panel-title">
					Brands 
		</h3>
	</div>
		<div class="panel-body" id="tablesize" >
				<table class="table table-responsive" >
					<div ng-init="brands();">
						<thead>
						<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Active</th>
						<th class="text-center">Action </th>
						
						</tr>
						</thead>
				<tbody>
					<tr ng-repeat ="value in brands"  class = "tables" id="Brandtable" ng-init="getBrands(value)"> 
						
						<td class="text-left">{{value.name}}</td>
						<td class="text-left">{{value.description}}</td>
						<td class="text-left">{{value.active}}</td>
						<td >
							<a ng-click="getIndex(value.id)" class="btn btn-xs btn-default" data-toggle="modal" data-target="#EditBrand"><span class="glyphicon glyphicon-pencil"
							></span> Edit</a><span ng-if="value.active == 0">
							<a ng-click="Activate(value.id)" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span> Activate</a></span> <span ng-if="value.active == 1">
							<a ng-click="Deactivate(value.id)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove-sign"></span> Deactivate</a></span>
						</td>
					</tr>	
				</tbody>
					</div>			
				</table>

				</div>
				
				<div class="panel-footer">
				<button class="btn btn-primary" data-toggle="modal" data-target="#AddBrand"><span class=""></span>Add Brand</button>
				</div>
			</div>
<!-- 		Add Modal -->	
			<div class="modal fade in" id="AddBrand" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Add Brand
							</h4>
						</div>
						<div class="modal-body">
							<form>
							    Name:<input type="text" class="form-control" ng-model="BrandName"> 	
							    <br>
							    Description:<input type="text" class="form-control" ng-model="BrandDescription">
							    <br>
							    Active:<input type="text" class="form-control" ng-model="Active">

							</form>
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary" ng-click="AddBrand()" data-dismiss="modal">Save changes</button>
						</div>
					</div>
					
				</div>
				
			</div>

		<!-- 	Edit Modal	-->

		<div class="modal fade in" id="EditBrand" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title glyphicon glyphicon-pencil" id="myModalLabel">
							Edit Brands
							</h4>
						</div>
						<div class="modal-body" >
							<form>
							    Name:<input type="text" class="form-control" ng-model="EditBrandName"> 	
							    <br>
							    Description:<input type="text" class="form-control" ng-model="EditBrandDescription">
							    <br>
							    Active:<input type="text" class="form-control" ng-model="EditActive">
							</form>
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary" ng-click="UpdateBrand()" data-dismiss="modal">Save changes</button>
						</div>
					</div>
					
				</div>
				
		</div>	