
/*Log-in Css */
.log-in {
    border-style: groove;
    border-width: medium;
    border-radius: 25px;
    padding: 70px 29px 30px 29px;
    margin-top: 275px;
    margin-bottom: 150px;
    margin-right: 700px;
    margin-left: 700px;
    text-align-last:right;
}
/*NAVIGATION BAR*/

/* Navigation bar */
#main_navbar .navbar-default, .dropdown-menu {
	border-color: transparent;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	background-color: white
}
/*
 #main_navbar .navbar-default .navbar-nav > .open > a, #main_navbar .navbar-default .navbar-nav > .open > a:hover, #main_navbar .navbar-default .navbar-nav > .open > a:focus {
 background-color: #843534;
 }
 */

/* Navigation bar text colour, alignment, font size */
#main_navbar ul > li a {
	color: black;
	text-align:center;
	font-size: medium;

}

/* Navigation bar hover colour */
#main_navbar .navbar-nav li a:hover {
	background-color: #085BC5;
	color: white;
}

/* Responsive navigation colour */

#main_navbar li:hover:after {
	content: ' ';
	position: absolute;
	border: solid 10px transparent;
	border-top: solid 0px transparent;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
	/*nav arrow*/
	border-color:  transparent transparent transparent;
	color: white;

}

/* Navigation highlight for current page */
body#home a#dashboard, body#about a#brands, body#menupage a#in-progress, body#contact {
	background-color: #085BC5;
}

.current:after {
	content: ' ';
	position: absolute;
	border: solid 10px transparent;
	border-top: solid 0px transparent;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
	border-color: #085BC5 transparent transparent transparent;
	color: white;
}
.current{
background-color:#085BC5;
color:white; 
}
#main_navbar{
padding: 0px 0px 0px 25px;

}
/*Navigation Bar CSS End*/

.dashboard-btn-group{
    margin-right: 150px;
    margin-left: 250px; 

}

/* Panel*/

.col-md-12{
	background-color: silver;
	margin-top:-20px;
	background-position: center 
}
.column{
margin-top:10px;
padding: 20px 30px 30px 30px;

}
#panel-body{
	width: 500px;
	height: 230px;

}
.col-md-2{
margin-right: 10px;
background-color: gray;
margin-left: 10px;
text-align: center;
margin-top: 10px;
position:center;
}


/*Brand Table*/


.table-brand
{


}
.brand-panel
{
	margin-top:10px; 
}
/*progress bar*/
#glyphicon-user{
	padding: 40px 0px 0px 0px;
}
#Admin-btn
{
margin-top: 50px;
margin-bottom:0px ;	
margin-left: 650px;
}
