
<div class="panel panel-primary panelmargin">
	<div class="panel-heading">
		<h3 class="panel-title">
					JDA
		</h3>
	</div>
		<div class="panel-body">
				<table class="table table-responsive">
					<div ng-init="jda();">
						<thead>
						<tr>
						<th>Name</th>
						<th>IP</th>
						<th>Version</th>
						<th>Active</th>
						<th class="text-center">Action</th>
						</tr>
						</thead>
				<tbody>
					<tr ng-repeat ="value in jda" ng-init="getJDA(value)"> 
						<td>{{value.name}}</td>
						<td>{{value.ip}}</td>
						<td>{{value.version}}</td>
						<td>{{value.active}}</td>
						<td class="text-center" >
							<a ng-click="getIndex(value.id)" class="btn btn-xs btn-default" data-toggle="modal" data-target="#EditJDA"><span class="glyphicon glyphicon-pencil"
							></span> Edit</a>
							<span ng-if="value.active == 0">
							<a ng-click="Activate(value.id)" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span> Activate</a></span> <span ng-if="value.active == 1">
							<a ng-click="Deactivate(value.id)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove-sign"></span> Deactivate</a></span>
						</td>

					</tr>	
				</tbody>
					</div>			
				</table>

				</div>
				
				<div class="panel-footer">
				<button class="btn btn-primary" data-toggle="modal" data-target="#AddJDA"><span class=""></span> Add JDA</button>

				</div>
			</div>
<!-- 		
Add JDA -->
		<div class="modal fade in" id="AddJDA" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Add JDA
							</h4>
						</div>
						<div class="modal-body">
							<form>
							     Name:<input type="text" class="form-control" ng-model="JdaName">
							     <br>
							    IP:<input type="text" class="form-control" ng-model="JdaIP">
							    <br>
							    Version:<input type="text" class="form-control" ng-model="JdaVersion"> 	
							    
							    
							    
							</form>
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary" ng-click="AddJda()" data-dismiss="modal">Save changes</button>
						</div>
					</div>
					
				</div>
				
			</div>	


<!-- Edit JDA -->
				<div class="modal fade in" id="EditJDA" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title glyphicon glyphicon-pencil" id="myModalLabel ">
								Edit JDA
							</h4>
						</div>
						<div class="modal-body">
							<form>
							     Name:<input type="text" class="form-control" ng-model="JdaName">
							     <br>
							    IP:<input type="text" class="form-control" ng-model="JdaIP">
							    <br>
							    Version:<input type="text" class="form-control" ng-model="JdaVersion"> 	
							       
							</form>
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary" ng-click="UpdateJda()" data-dismiss="modal">Save changes</button>
						</div>
					</div>
					
				</div>
				
			</div>	