

<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
					
					</h3>
				</div>
				<div class="panel-body">
					<div ng-init="test();"></div>
<table>
<tr ng-repeat ="value in test">
<td>{{value.description}}</td>
</tr>
</table>
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
	</div>