
<div class="panel panel-primary panelmargin" ng-init="init()">
	<div class="panel-heading">
		<h3 class="panel-title">
					Locations
		</h3>
	</div>
		<div class="panel-body">
				<table class="table table-responsive ">
					<div >
						<thead>
						<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Active</th>
						<th class="text-center">Action</th>
						</tr>
						</thead>
				<tbody > 
					<tr ng-repeat ="value in LocationsTable" ng-init="getLocation(value)" > 
						<td>{{value.name}}</td>
						<td>{{value.description}}</td>
						<td>{{value.active}}</td>
						<td class="text-center" >
							<a ng-click="getIndex(value.id)" class="btn btn-xs btn-default" data-toggle="modal" data-target="#EditLocation"><span class="glyphicon glyphicon-pencil"
							></span> Edit</a>
							<span ng-if="value.active == 0">
							<a ng-click="Activate(value.id)" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span> Activate</a></span> <span ng-if="value.active == 1">
							<a ng-click="Deactivate(value.id)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove-sign"></span> Deactivate</a></span>
						</td>
					</tr>	
				</tbody>
					</div>			
				</table>

				</div>
				
				<div class="panel-footer">
			
				<button class="btn btn-primary" data-toggle="modal" data-target="#AddLocation"><span class=""></span> Add location</button>

				</div>
			<!-- Add location Modal -->
			<div class="modal fade in" id="AddLocation" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Add Location
							</h4>
						</div>
						<div class="modal-body">
							<form>
							    Name:<input type="text" class="form-control" ng-model="LocationName"> 	
							    <br>
							    Description:<input type="text" class="form-control" ng-model="LocationDescription">
							    <br>
							</form>
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary" ng-click="UpdateLocation()" data-dismiss="modal">Save changes</button>
						</div>
					</div>
					
				</div>
				
			</div>	

		<!-- Edit Location -->

		<div class="modal fade in" id="EditLocation" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Edit Location
							</h4>
						</div>
						<div class="modal-body">
							<form>
							    Name:<input type="text" class="form-control" ng-model="LocationName"> 	
							    <br>
							    Description:<input type="text" class="form-control" ng-model="LocationDescription">
							    <br>
							</form>
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary" ng-click="UpdateLocation()" data-dismiss="modal">Save changes</button>
						</div>
					</div>
					
				</div>
				
			</div>	
