<div class="row clearfix" ng-init="init();">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-6 column">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
							Graph
							<input type="text" class="form-control pull-right" placeholder="" aria-describedby="sizing-addon3" ng-change="Graphdatepicker() " ng-model="GraphDate" id="GraphDate" data-date-format="yyyy-mm-dd" > 
							</h3>
						</div>
					<!-- Pie Graph -->
						<div class="panel-body " id="dashboard_graph">						
						<div class="graph_border col-md-10"  >
						<canvas id="pie" class="chart chart-pie" colours = "colours" data="data" labels="labels" legend="true" ></canvas> 
						</div>
						</div>
						<div class="panel-footer">
							
						</div>
					</div>
				</div>
				<div class="col-md-6 column" >
					<div class="panel panel-primary" >
						<div class="panel-heading">
							<h3 class="panel-title">
								Status

							 
							<input type="text" class="form-control pull-right" placeholder="" aria-describedby="sizing-addon3" ng-change="datepicker()" ng-model="date" id="StatusDate" data-date-format="yyyy-mm-dd"> 
						    </h3> 	
						</div>
				
						<center>
						    <div class="panel-body status" id="dashboard_status_btn">
							<a class="btn btn-default status-btn"  href="../../app/app/#/TableDone" role="button" style="background-color:rgba(70,191,189,1)"><span></span><h4><br>{{Done.length}} <span ng-if="Done.length == null">0</span></h4>Done</a>  
							
							<a class="btn btn-default status-btn"  href="../../app/app/#/NoSalesTable"  role="button" style="background-color:rgba(151,187,205,1)"><h4><br>{{NoSales.length}}<span ng-if="NoSales.length == null">0</span></h4>No Sales</a> 

							<a class="btn btn-default status-btn" href="../../app/app/#/FailedTable" role="button" style="background-color:rgba(247,70,74,1)"><h4><br>{{Failed.length}}<span ng-if="Failed.length == null">0</span> </h4><span>Failed</span></a> 
						
							<a class="btn btn-default status-btn" href="../../app/app/#/NoEndOfSales"role="button" style="background-color:rgba(220,220,220,1)"><h4><br>{{NoEndofSales.length}}<span ng-if="NoEndofSales.length == null">0</span></h4> No End Of Day</a> 
							
							</div>
						</center>
						<div class="panel-footer">
						</div>
					</div>
				</div>
			</div>
		




 