
<div class="panel panel-primary panelmargin">
				<div class="panel-heading">
					<h3 class="panel-title">
					 Failed
					</h3>
				</div>
	<div class="panel-body" id="tablesize" >
			
		<table class="table table-responsive">
				<div ng-init="TableFailed();"></div>
				<thead>
					<tr>
						<th>Location</th>
						<th>Brand</th>
						<th>Store Code</th>
						<th>Attempts</th>
						<th>IP</th>
						<th>Opening Time</th>
						<th>Closing Time</th>
						<th>Assigned To</th>
						<th>Created At</th>
						<th>Updated At</th>
						<th>Created By</th>
						<th>Updated By</th>
					</tr>
				</thead>
				<tbody>
						<tr ng-repeat ="value in TableFailed"> 
									
						<td>{{value.location}}</td>
						<td>{{value.brand}}</td>
						<td>{{value.code}}</td>
						<td>{{value.attempts}}</td>
						<td>{{value.ip}}</td>
						<td>{{value.opening_time}}</td>
						<td>{{value.closing_time}}</td>
						<td>{{value.assigned_to}}</td>
						<td>{{value.created_at}}</td>
						<td>{{value.updated_at}}</td>
						<td>{{value.created_by}}</td>
						<td>{{value.updated_by}}</td>
					</tr>	
				</tbody>
				</table>
			</div>
				<div class="panel-footer">
				</div>
			</div>
