
<div class="panel panel-primary panelmargin">
				<div class="panel-heading">
					<h3 class="panel-title">
					 No End Of Sales
					</h3>
				</div>
	<div class="panel-body " id="tablesize" >
			
		<table class="table table-responsive" >
				<div ng-init="NoEndOfSales();"></div>
				<thead>
					<tr>
						<th>Location</th>	
						<th>Brand</th>
						<th>Store Code</th>	
						<th>IP</th>
						<th>Opening Time</th>
						<th>Closing Time</th>
						<th>Assigned To</th>
					</tr>
				</thead>
				<tbody>
						<tr ng-repeat ="value in NoEndOfSales">
						<td>{{value.location}}</td>
						<td>{{value.brand}}</td>
						<td>{{value.code}}</td>
						<td>{{value.ip}}</td>
						<td>{{value.opening_time}}</td>
						<td>{{value.closing_time}}</td>
						<td>{{value.assigned_to}}</td>
						
					</tr>	
				</tbody>
				</table>
			</div>
				<div class="panel-footer">
				</div>
			</div>

