
<div class="panel panel-primary panelmargin">
				<div class="panel-heading">
					<h3 class="panel-title">
					 Done
					</h3>
				</div>
	<div class="panel-body" id="tablesize" >
			
		<table class="table table-responsive">
				<div ng-init="TableDone();"></div>
				<thead>
					<tr>
						<th>Location</th>
						<th>Brand</th>
						<th>Store Code</th>
						<th>Total Sales</th>
						<th>Created At</th>
						<th>Updated At</th>
						<th>Created By</th>
						<th>Updated By</th>
					</tr>
				</thead>
				<tbody>
						<tr ng-repeat ="value in TableDone"> 
									
						<td>{{value.location}}</td>
						<td>{{value.brand}}</td>
						<td>{{value.store}}</td>
						<td>{{value.total_sales}}</td>
						<td>{{value.created_at}}</td>
						<td>{{value.updated_at}}</td>
						<td>{{value.created_by}}</td>
						<td>{{value.updated_by}}</td>
					</tr>	
				</tbody>
				</table>
			</div>
				<div class="panel-footer">
				</div>
			</div>
