
/*Log-in Css */
.log-in {
    border-style: groove;
    border-width: medium;
    border-radius: 25px;
    padding: 70px 29px 30px 29px;
    margin-top: 275px;
    margin-bottom: 150px;
    margin-right: 700px;
    margin-left: 700px;
    text-align-last:right;
}
/*NAVIGATION BAR*/


#main_navbar .navbar-default, .dropdown-menu {
  border-color: transparent;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  background-color: white;
}
/*
 #main_navbar .navbar-default .navbar-nav > .open > a, #main_navbar .navbar-default .navbar-nav > .open > a:hover, #main_navbar .navbar-default .navbar-nav > .open > a:focus {
 background-color: #843534;
 }
 */

/* Navigation bar text colour, alignment, font size */
#main_navbar ul > li a {
  color: black;
  text-align:center;
  font-size: medium;
}

/* Navigation bar hover colour */
#main_navbar .navbar-nav li a:hover {
  background-color: #085BC5;
  
}

/* Responsive navigation colour */

#main_navbar li:hover:after {
  content: ' ';
  position: absolute;
  border: solid 10px transparent;
  border-top: solid 0px transparent;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
  /*nav arrow*/
  border-color:  transparent transparent transparent;

}

/* Navigation highlight for current page */
body#home a#dashboard, body#about a#brands, body#menupage a#in-progress, body#contact {
  background-color: #085BC5;
}

.current:after {
  content: ' ';
  position: absolute;
  border: solid 10px transparent;
  border-top: solid 0px transparent;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
  border-color: #085BC5 transparent transparent transparent;
  color: white;
}
.current{
background-color:#085BC5;
color:white; 
}
/*Navigation Bar CSS End*/

/* Panel*/

.col-md-12{
  background-color: #DDDDDD;
  margin-top:-50px;
  background-position: center;

}
.column{
margin-top:30px;
padding: 20px 30px 30px 30px;

}
/*#panel-body{
  width: 500px;
  height: 230px;

}*/
.col-md-2{
margin-right: 10px;
background-color: gray;
margin-left: 10px;
text-align: center;
margin-top: 10px;
position:center;
}

/*Brand Table*/

.tables{
text-align: center;
overflow-x: auto;

}
.brand-panel
{
  margin-top:10px; 
}
/*progress bar*/
#glyphicon-user{
  padding: 40px 0px 0px 0px;
}
/*#Admin-btn
{
margin-top: 50px;
margin-bottom:0px ; 
margin-left: 650px;
}*/
#tablesize{
  
overflow-x: auto;
width: 100%;
}

.status-btn{
 background:#E6E6E6;
 height: 130px;
 width: 22%; 
 font-size: 11.5px;
 margin-top: 80px;

}

#dashboard_status_btn{
width:100%;
height: 350px;
}
.graph_border{
  margin-left: 50px;
  border-style: solid;
  border-width: small;
  border-color: #297CCF;

}
.chart {

 width: 300px;
 height: 300px;
 font-size: 15px;
 margin-top: 30px; 
}
#GraphDate,#StatusDate{
  max-width: 22%;
  max-height: 25px
}


.navbar-inverse { background-color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #428BCA}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #428BCA}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428BCA}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #FFFFFF}
.navbar-inverse .navbar-brand { color: #333333}
.navbar-inverse .navbar-brand:hover { color: #333333}
.navbar-inverse .navbar-nav>li>a { color: #333333}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #333333}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #333333}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
#nav-size{padding-left:270px ;}

.glyphiconSize{
  font-size: 45px;
}
.panelmargin{
margin-top: 100px;
}
.textsize{
  font-size: 22px; 
}
.container {
width: 80%;

}